<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OpensubtitlesAPI_Key" value="Your_API_Key" />
        <add key="OpensubtitlesAPI_Username" value="Your_username" />
        <add key="OpensubtitlesAPI_Password" value="YourPassword" />
	</appSettings>
</configuration>