<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OpensubtitlesAPI_Key" value="H891Ie2XKDNfjraQ8XewgPjt19qw1FSB" />
        <add key="OpensubtitlesAPI_Username" value="phoenix145" />
        <add key="OpensubtitlesAPI_Password" value="Aungkyawmyo_13" />
	</appSettings>
</configuration>